<h1>Contact Us</h1>

<%= form_tag contact_submit_path do %>
  <div class="form-group">
    <%= label_tag :name %><br/>
    <%= text_field_tag :name  %>
  </div>
  
  <div class="form-group">
    <%= label_tag :message %><br/>
    <%= text_area_tag :message  %>
  </div>
  
  <br />
  <%= submit_tag 'Contact Us!', class: 'btn btn-primary'%>
<% end %>
