<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">

    <%= link_to('Home', home_path) %>
    <%# we prefer the line above 👆 to the line below 👇 %>
    <!-- <a href='/'>Home</a> -->
    <!-- this 👆 will make a GET http request to `/` url -->

    <%= link_to 'All Questions', questions_path %>

    <%= link_to('Contact Us', contact_url) %>
    <% if user_signed_in? %>
      <span style='display: inline'; >Hello <%= current_user.first_name %>,</span>
      <%= link_to 'My Liked Questions', user_liked_questions_path(current_user) %>
      <%= link_to 'Sign out', sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_session_path %>
      <%= link_to 'Sign Up', new_user_path %>
      <%= link_to 'Sign in with Twitter', sign_in_with_twitter_path %>
    <% end %>
    </div> <!---end of navbar-header-->
  </div><!---end of container-fluid-->
</nav>
