
<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bodydiv">
    <%= render "layouts/navbar" %>
    <div class="container">
  	  <div class="row">
  	    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  	    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
          <% if flash[:notice] %>
            <div class='alert alert-success'><%= flash[:notice] %></div>
          <% elsif flash[:alert] %>
            <div class='alert alert-danger'><%= flash[:alert] %></div>
          <% end %>
          <%= yield %>
        </div>
  	    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  	  </div> <!--end of row-->
	 </div><!--end of container-fluid-->
  </body>
</html>
