
<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bodydiv">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">

    <%# link_to: is a built-in Rails helper method to generate a <a> link, the
                 first argument is the anchor text and the second argument is
                 the URL %>
        <%= link_to('Home', home_path) %>
        <%= link_to 'Sign out', sessions_path, method: :delete %>
        <%# we prefer the line above 👆 to the line below 👇 %>
        <!-- <a href='/'>Home</a> -->
        <!-- this 👆 will make a GET http request to `/` url -->
        |
        <%= link_to 'All Questions', questions_path %>
        |
        <%= link_to('Contact Us', contact_url) %>
        <% if user_signed_in? %>
          Hello <%= current_user.first_name %>,
          <%= link_to 'Sign out', sessions_path, method: :delete %>
        <% else %>
          |
          <%= link_to 'Sign in', new_session_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
        </div> <!---end of navbar-header-->
      </div><!---end of container-fluid-->
    </nav>


   <div class="container">
     
    <br />
    <!-- <a href='/contact'>Contact Us</a> -->
    <hr>
    <% if flash[:notice] %>
      <div class='alert alert-success'><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class='alert alert-danger'><%= flash[:alert] %></div>
    <% end %>

    <%# the content of each template (such as /app/views/welcome/index.html.erb)
        will be inserted in place of the `yield` below. %>

    <%= yield %>
  </div>
  </body>
</html>
